{% extends "base.html" %}
{% load static %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <div class="container">
        <div class="header"></div>
        {% if request.user.is_authenticated %}
            <li>Привет, {{user.get_username}}</li>
        <li><a href="/signup">Зарегистрировать нового пользователя</a></li>
        <li><a href="/login">Авторизоваться под другим пользователем</a></li>
        <li><a href="/logout">Выйти</a></li>
        {% else %}
            Привет, <b>гость</b>.<br>
            Пожалуйста, <a href="/signup">зарегистрируйся</a> или <a href="/login">авторизуйся</a>!
        {% endif %}
    </div>
{% endblock %}